/.ipynb_checkpoints/0_New_File-checkpoint.csv
/.ipynb_checkpoints/DunnyMan-checkpoint.ipynb
/.ipynb_checkpoints/OverTempLogs-checkpoint.csv
/.ipynb_checkpoints/W0155_2021-03-09_15-17-20_WC_Alarms-checkpoint.raw
/.ipynb_checkpoints/W0155_2021-03-09_15-17-20_WC_Alarms-checkpoint.txt
/.ipynb_checkpoints/WC_Alarms-checkpoint.csv
